{{ $len_socials := false }}

<div class="social-icons">
  {{ if .Site.Params.social }}
    {{ $len_socials = true }}
    {{ range $i, $social :=  .Site.Params.social }}
      <a href="{{ $social.url }}" name="{{ $social.name }}" target="_blank" rel="noopener noreferrer">
        <em class="{{ $social.icon }}"></em>
      </a>
    {{ end }}
  {{ end }}

  {{ if .Site.Params.social_static }}
    {{ $base := .Site.BaseURL }}
    {{ range $i, $social :=  .Site.Params.social_static }}
      <a class="social-icon" href="{{ $social.url }}" name="{{ $social.name }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ $base }}images/{{ $social.icon }}" alt="{{ $social.name }}"/>
      </a>
    {{ end }}
  {{ end }}
</div>
